<.header>
  New Feature
  <:subtitle>Use this form to manage feature records in your database.</:subtitle>
</.header>

<.feature_form changeset={@changeset} action={~p"/features"} />

<.back navigate={~p"/features"}>Back to features</.back>
